body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
    }
#file {
    display: none;
}
#color, #size {
    /* border: 1px solid #444; */
    padding: 10px;
    margin: 0 5px;
    letter-spacing: 2px;
    font-size: 14px;
}
label {
    display: block;
    color: #fff;  
    background-color: #444;
    padding: 10px 30px;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 20px 20px 0;
    font-size: 16px;
    max-width: 200px;
    text-align: center;
}
label:hover {
    cursor: pointer;
}
.color-wrap {
    margin: 40px 20px 30px;
}
.sharp {
    display: inline;
}
#color::placeholder {
    color: #888888;
    letter-spacing: 2px;
    font-size: 14px;
}
canvas {
    margin: 0 20px;
}
.caution {
    font-size: 12px;
    color: #888888;
    padding-left: 20px;
}
.links {
    margin: 0 20px;
}
#result {
    padding: 40px 20px;
}
#result a {
    display: inline-block;
    margin: 10px 10px;
    color: #444;
}